/* Lobby */
#lobby {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Area Game */
#view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 30px;
    padding-bottom: 60px;
    border-radius: 10px;
    transition: all 1s;
    background-color: #ffffff;
    overflow: hidden;
}

#tableGame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    width: 80%;
}

#descript {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
}

#descript span {

    font-size: 1.1em;
}

#areaForca {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#palavra {
    display: flex;
}

#palavra span {
    text-align: center;
    width: 30px;
    font-size: 4em;
    margin-left: 9px;
    margin-right: 9px;
    border-bottom: 4px solid rgb(14, 68, 150);
}


/* Style Keyboard */
#keyboard {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    height: 200px;
}

#keyboard div {
    display: flex;
}

#keyboard div button {
    width: 55px;
    height: 55px;
    margin-left: 5px;
    margin-right: 5px;

    font-weight: 600;
    text-align: center;
    align-content: center;
    background: rgb(171, 171, 171);
    background: linear-gradient(0deg, rgba(171, 171, 171, 1) 0%, rgba(205, 205, 205, 1) 46%, rgba(255, 255, 255, 1) 100%);
    border-radius: 10px;
    border: 1px solid #7a7a7a;
    transition: all 0.3s;
}

#keyboard div button:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background: rgb(255, 255, 255);
    cursor: pointer;
}




@media only screen and (max-width:800px) {
    #tableGame{
        width: 100%;
    }
    #descript{
        box-shadow: none;
        padding: 0px 10px;
        flex-direction: column;
        align-items: start;
    }
    #areaForca img{
        width: 90px !important;
    }
    #palavra{
        width: 100%;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #palavra span {
        width: 30px;
        font-size: 2.5em;
        margin-left: 9px;
        margin-right: 9px;
        border-bottom: 2px solid rgb(14, 68, 150);
    }

    /* Style Keyboard */
    #keyboard {
        width: 100%;
        margin-top: 20px;
        height: auto;
    }

    #keyboard div {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    #keyboard div button {
        width: 50px;
        height: 50px;
        margin-left: 1px;
        margin-right: 1px;
        margin-top: 10px;
        border-radius: 5px;
    }

}