/* Game View */
#section_gameView {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}


/* Lobby */
#lobby{
    width: 50%;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(67, 71, 85) 0px 0px 0.25em, rgba(0, 0, 0, 0.808) 0px 0.25em 1em;
    border-radius: 10px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(221,221,221,1) 46%, rgb(187, 211, 245) 100%);
}


/* Area Game */
#view {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 60px;
    box-shadow: rgb(67, 71, 85) 0px 0px 0.25em, rgba(0, 0, 0, 0.808) 0px 0.25em 1em;
    border-radius: 10px;
    transition: all 1s;
    background-color: #ffffff;
    overflow: hidden;
}

#tableGame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    width: 80%;
}

#descript {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
}

#descript span {
    font-family: "Patrick Hand SC", cursive;
    font-size: 1.1em;
}

#areaForca{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#palavra span{
    font-size: 5em;
    margin-left: 9px;
    margin-right: 9px;
    border-bottom: 4px solid rgb(14, 68, 150);
}


/* Style Keyboard */
#keyboard {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    height: 200px;
}

#keyboard div {
    display: flex;
}

#keyboard div button {
    width: 55px;
    height: 55px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: "Patrick Hand SC", cursive;
    font-weight: 600;
    text-align: center;
    align-content: center;
    background: rgb(171, 171, 171);
    background: linear-gradient(0deg, rgba(171, 171, 171, 1) 0%, rgba(205, 205, 205, 1) 46%, rgba(255, 255, 255, 1) 100%);
    border-radius: 10px;
    border: 1px solid #7a7a7a;
    transition: all 0.3s;
}

#keyboard div button:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background: rgb(255, 255, 255);
    cursor: pointer;
}



@keyframes anim {
    from{
        transform: scale(1.0);
    }
    to{
        transform: scale(1.2);
    }
}