#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: auto;
    padding: 20px 0px 20px 0px;
    width: 100%;
    box-shadow: rgb(67, 71, 85) 0px 0px 0.25em, rgba(0, 0, 0, 0.39) 0px 0.25em 1em;
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
    flex-wrap: wrap;
    /* border: 1px solid rgb(46, 46, 46); */
}

#logo {
    font-size: 2.4em;
    text-align: start;
    line-height: 40px;
    transition: all 0.8s;
}

#logo:hover {
    transform: scale(1.1);
    cursor: default;
}

#logo span {
    font-weight: 400;
    font-style: normal;
}


#navbar {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 30%;
    line-height: 40px;
    font-size: 1.1em;
    font-weight: 600;
    color: #0c0c0c;
    flex-wrap: wrap;
}

#accountOption {
    display: flex;
    line-height: 40px;
    font-size: 1.1em;
    font-weight: 600;
    color: #0c0c0c;
}

#header a {
    color: #3b3b3b;
    cursor: none;
    font-style: normal;
    text-decoration: inherit;
    transition: all 0.8s;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 3px solid #ffffff00;
    font-weight: lighter;
}

#header a:hover {
    cursor: pointer;
    color: #000000;
    border-bottom: 3px solid rgba(0, 0, 0, 0.651);
}

.active {
    border-bottom: 3px solid rgba(6, 62, 218, 0.651) !important;
}

#navItemPerfil {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#navItemPerfil div {
    width: 30px;
    height: 30px;
}



@media only screen and (width:300px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

}

@media only screen and (width:480px) {
    /* smartphones, Android phones, landscape iPhone */


}

@media only screen and (width:600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

}

@media only screen and (width:801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

}

