@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

* {
  font-family: monospace;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#contentPage {
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 226, 226);
  background-image: url('/imgs/bg-whitepaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.adsense{
  background-color: #ffffff;
  border: 2px solid #006eff;
  width: 200px;
  height: 100%;
}

/* Scrollbar Style   ----  Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #474747;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #292929;
  cursor: grab;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #1b1b1b;
}

