#card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: 600;
    height: auto;
    padding-top: 10px;
    padding-bottom: 50px;
    color: #383838;
}

#area_RefreshButton{
    display: flex;
    justify-content: end;
    width: 70%;
    margin-bottom: 20px;
    margin-top: 20px;
}

#card button{background-color: rgba(6, 53, 182, 0.884) !important;}
#card button:hover{background-color: rgba(36, 79, 199, 0.884) !important;}