#content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#area_table {
    display: flex;
    justify-content: center;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 70%;
    border-radius: 10px;
}

table {
    width: 95%;
}

table,
th,
td {
    border: none !important;
}

#row_content {
    height: 20px !important;
    background-color: none;
    border-bottom: 1px solid #ccc;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

th {
    background: rgba(6, 53, 182, 0.884);
    position: sticky;
    top: 0;
    z-index: 1;
    font-weight: 100 !important;
    color: #fff;
}

#td_user {
    display: flex;
    align-items: center;
}

.sticky_row {
    position: sticky;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    top: 40px;
    bottom: 0;
    background-color: #bde3fd !important;
    z-index: 1;
}

@media only screen and (max-width:1000px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    #area_table {
        width: 100%;
    }

}
